In [ ]:
'''
Com a base de dados do resultado do teste em anexo, você terá que tomar a decisão baseada em dados e 
estratégias de negócios para definir qual a porcentagem que escolheria para oferecer ao usuário. 
É necessário deixar explícito o motivo da escolha e todos os cálculos realizados para a tomada de decisão.
'''

In [2]:
import pandas as pd
import seaborn as sns # cria o grafico
import matplotlib.pyplot as plt # exibe o grafico plt.show()
from sklearn.model_selection import train_test_split # cria a IA para tomada de decisão
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor




tabela_meliuz = pd.read_csv("Cópia de Base de dados - Estágio em Growth (Pedro Vasconcelos) - Página2.csv")
display(tabela_meliuz)

tabela_meliuz.drop()

   Unnamed: 0 VENDA TOTAL POR GRUPO TOTAL DE COMPRADORES TICKET MÉDIO MÉDIA % DE CASH BACK
0     GRUPO 1       R$ 5.605.172,00             9.633,00    R$ 586,00               35,90%
1     GRUPO 2       R$ 6.423.095,00            10.814,00    R$ 595,00               49,70%
2     GRUPO 3       R$ 6.785.855,00            11.410,00    R$ 594,00               60,00%
3         NaN                   NaN                  NaN          NaN                  NaN
4  CORRELAÇÃO                   0,9                  0,8          0,4                    1